body{
    
}
img:hover {
    transform: scale(1.2);
    
}
a:hover{
    opacity: 0.7;
    
    
}
img {
    max-width: 300px;
    max-height: 300px;
    transition: 1s;
    
}

.header {
    background: #019795;
    opacity: 0.7;
    margin-bottom:30px ;

}

.header-img {
    border: #b5dad2 5px solid;
    background: #b5dad2;
    display: block;
    margin: 0 auto;
   border-radius: 20%;
opacity: 0.7
}



.gallery{
margin-bottom: 30px;
}
.gallery-title{
    
    text-align: center;

    
}
.gallery-ul{
    display: flex;
    margin: 0 auto;
    
}
.gallery-list {
    display: inline-block;
    margin: auto;
    
}
.right {
    width: 1200px;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
}

.right-block {
    float: left;
    
    padding: 10px;
}

.right-title {
    
}

.right-img {
    float: right;
}

.left {
    width: 1200px;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
}
.left-block{
    float: right;
    padding: 10px;
}

.left-img {
    float: left;
}

.advices-title {}

.right-paragraph {}

.left-paragraph {}

.mith {
    position: relative;
    text-align: center;
    color: white;
}

.mith-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.mith-img {
}
.column {
    float: left;
    width: 50%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
.unordered-list-mith{
    list-style: none;
}
div ~ div{
    margin-bottom: 30px;
}
